html, body {
    margin: 0;
    height: 100%;
}
#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#nav a {
    margin-right: 20px;
}
#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    text-align: center;
}
#searchbarcontainer {
    margin-top: 20px;
    text-align: center;
    position: relative;
}
#search, #voice {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search {
    left: 10px;
}
#voice {
    right: 10px;
}
#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0;
    width: 500px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    padding-left: 40px;
    padding-right: 40px;
}
#searchbar:hover {
    box-shadow: 0 0 10px 2px rgb(233, 233, 233);
}
#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    background: rgb(231, 231, 231);
    border: 2px solid transparent;
}
#links {
    margin-top: 20px;
    text-align: center;
}
#links a {
    margin-left: 5px;
}
body {
    display: flex;
    flex-direction: column;
}
.button:hover {
    box-shadow:  0 0 2px 1px rgb(245, 243, 243);
    border: 2px solid #eee;
}
#footer-content {
    background: #eee;
    border-top: 1px solid rgb(212, 208, 208);
    padding: 15px;
}
#footer-content a {
    margin-left: 20px;
    color: gray;
}


a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}